@import "../assets/styles/abstracts/_variables.scss";
@import "../assets/styles/abstracts/_mixins.scss";

.section-info {
  color: $oslo-gray;

  &_logo-note {
    background: $note-info;
    @include logo;
  }
  &_logo-reminder {
    background: $reminder-info;
    @include logo;
  }
  &_logo-label {
    background: $label-info;
    @include logo;
  }
  &_logo-archieve {
    background: $archieve-info;
    @include logo;
  }
  &_logo-basket {
    background: $basket-info;
    @include logo;
  }
}
