@import "../assets/styles/abstracts/variables";
@import "../assets/styles/abstracts/_mixins.scss";

.sidebar {
  height: calc(100vh - 75px);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-top: 8px;
  /* box-shadow: 10px 0 20px -20px #333;
  width: 280px; */
  align-items: flex-start !important;

  &__section {
    height: 48px;
    width: 48px;
  }

  &__note {
    background: $note;
    @include svg;

    &:hover {
      @include hvr;
    }
  }

  &__reminder {
    background: $reminder;
    @include svg;

    &:hover {
      @include hvr;
    }
  }

  &__label {
    background: $label;
    @include svg;

    &:hover {
      @include hvr;
    }
  }

  &__archieve {
    background: $archieve;
    @include svg;

    &:hover {
      @include hvr;
    }
  }

  &__basket {
    background: $basket;
    @include svg;

    &:hover {
      @include hvr;
    }
  }
}
