@import "../assets/styles/abstracts/variables";
@import "../assets/styles/abstracts/_mixins.scss";

$note: url("../assets/images/notes-icon.svg") center no-repeat;
$reminder: url("../assets/images/reminder-icon.svg") center no-repeat;
$label: url("../assets/images/label-changes-icon.svg") center no-repeat;
$archieve: url("../assets/images/archieve-icon.svg") center no-repeat;
$basket: url("../assets/images/basket-icon.svg") center no-repeat;

.sidebar {
  height: calc(100vh - 80px);
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-top: 8px;

  &:hover {
    width: 280px;
    align-items: flex-start !important;
    transition: width box-shadow 0.1s;
    box-shadow: 10px 0 20px -20px #333;
    transition-delay: 0.5s;
  }
  &:not(:hover) {
    width: 72px;
    transition: width 0.1s;
    transition-delay: 0.1s;
  }

  &__note {
    background: $note;
    @include svg;

    &:hover {
      @include hvr;
    }
  }

  &__reminder {
    background: $reminder;
    @include svg;

    &:hover {
      @include hvr;
    }
  }

  &__label {
    background: $label;
    @include svg;

    &:hover {
      @include hvr;
    }
  }

  &__archieve {
    background: $archieve;
    @include svg;

    &:hover {
      @include hvr;
    }
  }

  &__basket {
    background: $basket;
    @include svg;

    &:hover {
      @include hvr;
    }
  }
}
