$white: #fff;
$shuttle-gray: #5f6368;
$font-family: "Alumni Sans Collegiate One", sans-serif;
$porcelain: #f1f3f4;
$beeswax: #feefc3;
$shark: #101114;
$oslo-gray: #80868b;

$note: url("../assets/images/notes-icon.svg") center no-repeat;
$reminder: url("../assets/images/reminder-icon.svg") center no-repeat;
$label: url("../assets/images/label-changes-icon.svg") center no-repeat;
$archieve: url("../assets/images/archieve-icon.svg") center no-repeat;
$basket: url("../assets/images/basket-icon.svg") center no-repeat;
$note-info: url("../assets/images/notes-icon-info.svg") center no-repeat;
$reminder-info: url("../assets/images/reminder-icon-info.svg") center no-repeat;
$label-info: url("../assets/images/label-changes-icon-info.svg") center
  no-repeat;
$archieve-info: url("../assets/images/archieve-icon-info.svg") center no-repeat;
$basket-info: url("../assets/images/basket-icon-info.svg") center no-repeat;
